@import '~antd/dist/antd.css';

@font-face {
    font-family: MrsWhite;
    src: url('/fonts/MrsWhite.eot?#iefix') format("embedded-opentype"),
         url('/fonts/MrsWhite.woff') format("woff"),
         url('/fonts/MrsWhite.ttf') format("truetype"),
         url('/fonts/MrsWhite.svg#MrsWhite') format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-family: MrsWhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex: 1 100% auto;
    flex-direction: column;
}

.ant-checkbox,
.ant-radio {
    &-wrapper {
        width: 100%;
        color: inherit;
        font-size: inherit;
    }

    &-input:focus + &-inner {
        border: 2px solid #97d5d6;
    }

    &, &-wrapper:hover {
        .ant-checkbox-inner,
        .ant-radio-inner {
            border-radius: 50%;
            border: 2px solid #97d5d6;
        }
    }

    &-checked {
        .ant-checkbox-inner,
        .ant-radio-inner {
            background-color: #97d5d6;
        }

        .ant-radio-inner {
            &:after {
                top: 2px;
                left: 2px;
            }
        }

        .ant-checkbox-inner {
            &:after {
                left: 24%;
                height: 7px;
            }
        }

        &:after {
            border-radius: 50%;
            border: 2px solid #97d5d6;
        }
    }
}

.ant-radio-inner {
    &:after {
        background-color: #fff;
    }
}

.ant-list-pagination {
    margin-top: 0;
}

.ant-card-body {
    padding: 20px;
}

.ant-rate-star {
    margin-right: 0;
}

.ant-input-group-addon {
    padding: 0;
    border: 0;

    .ant-btn {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    &:last-child > .ant-btn {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:first-child > .ant-btn {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
