@import '../variables';

.container {
    padding: 20px;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid $primary;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .15);
}

.trigger {
    & + & {
        margin-left: 10px;
    }

    &, &:hover, &:focus {
        color: #fff;
        background-color: $primary;
    }
}

.close {
    top: 10px;
    z-index: 1;
    right: 10px;
    font-size: 18px;
    position: absolute;
}

@media (min-width: 576px) {
    .container {
        min-width: 400px;
    }
}
