@import '../variables';

.page {
    flex: auto;
    color: $page-text;
    background-color: $page-bg;
}

.layout,
.header {
    background-color: transparent;
}

.header {
    height: auto;
    font-size: 28px;
    padding: 20px 0;
    line-height: 1.5;
    text-align: center;
}

.content {
    margin-bottom: 20px;
}
