@import '../variables';

.group {
    display: flex;
    flex-direction: column;
}

.group,
.list {
    font-size: 16px;
}

.header,
.list {
    color: $primary;
}

.header {
    margin: 6px 0;
    font-size: 18px;
}

.list {
    padding: 0 10px;
    max-height: 230px;
    overflow-y: scroll;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 10px -10px #ddd;

    &:hover {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }
}

.item {
    user-select: none;

    &:not(:last-child) {
        padding-bottom: 0;
    }
}
