@import '../variables';

.actionBtn {
    margin-top: 20px;

    &, &:hover, &:focus {
        color: #fff;
        background-color: $primary;
        border: 1px solid #8BB7B6;
    }

    &:hover {
        opacity: .85;
    }
}
