@import '../variables';

.card {
    position: relative;
}

.itemComfort {
    .image > img {
        content: url(https://nappyclub.ru/uploads/products/f7cc0d3c5edc97758e8ad1c56dbdf4fe.png);
    }

    .label {
        content: url(https://nappyclub.ru/img/comfort.png);
    }
}

.itemPremium {
    .image > img {
        content: url(https://nappyclub.ru/uploads/products/6d4a6dfbe029651d950ca4eeb59b941b.png);
    }

    .label {
        content: url(https://nappyclub.ru/img/premium.png);
    }
}

.label {
    top: -15px;
    left: -30px;
    position: absolute;
    transform: rotate(-27deg);
}

.image {
    text-align: center;

    & > img {
        max-width: 100%;
        max-height: 180px;
    }
}

.ratingMeta {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.rating {
    font-size: 14px;
    padding-right: 5px;
}

.ratingCount {
    line-height: 1;
    color: $primary;
    font-size: 16px;
}

.meta {
    line-height: 2;
}

.name,
.price {
    line-height: 1.5;
    font-size: 24px;
}

.size {
    font-size: 18px;
}

.actions {
    display: flex;
    margin-top: 10px;
}

.piecesInput {
    width: 94px;
    text-align: center;
}

.piecesInputContainer {
    margin-right: 15px;
    display: inline-block;
}

.buyBtn {
    height: auto;
    font-size: 20px;

    &, &:focus {
        background-color: #abd5d6;
    }

    &, &:hover, &:focus {
        border: 0;
        color: #fff;
    }

    &:hover {
        background-color: #f3a8bc;
    }
}

@media (max-width: 768px) {
    .meta {
        text-align: center;
    }

    .actions {
        justify-content: center;
    }
}
